body {
  font-family: sans-serif;
  text-align: center;
  margin: 50px;
  background-color: rgb(158, 226, 56) ;
}

h1 {
  margin-bottom: 30px;
}


.dice-container img {
  width: 140px;
  height: 140px;
  margin: 0 10px;
}

#roll-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0 ;
}

#roll-button:hover {
  background-color: #3e8e41;
}
.ind{
  height: 30px;
  width: 30px;
  background-color: red;
  border-radius: 50%;
  transition: all .4s ease-in-out;
  position: absolute;
  right: 15px;
  top: 15px;
}
